<div class="login__page">
  <div class="login__window">
      <div class="login__header">
        <h2>
          Login
        </h2>
      </div>
      <div class="login__body">
        <input type="email" class="input__email" placeholder="Email" >
        <input type="password" class="input__password" placeholder="Password">
        <button type="button" class="button__login">LOGIN</button>
      </div>
      <div class="login__footer">
        <p>Don't have an account?</p>
        <a routerLink="/register">Register now</a>
      </div>
  </div>
</div>
