<div class="login__page">
  <form [formGroup]="form" class="login__window">
    <div class="login__header">
      <h2>
        Login
      </h2>
    </div>
    <div class="login__body">
      <div class="body__inputs">
        <wc-input-email
          [emailFormControl]="emailFormControl"
          [value]="emailValue"
          [placeholder]="emailPlaceholder"
          [validError]="emailValidError"
          color="primary"
          appearance="legacy">
        </wc-input-email>

        <wc-input-password
          [passwordFormControl]="passwordFormControl"
          appearance="legacy"
          color="primary"
          [validError]="passwordValidError"
          [value]="passwordValue">
        </wc-input-password>
      </div>
      <div class="body__buttons">
        <wc-button-raised
          [disabled]="form.invalid && form.touched"
          [label]="loginButtonText"
          color="primary"
          (buttonClick)="loginClick()">
        </wc-button-raised>
      </div>
    </div>
    <div class="login__footer">
      <p>Don't have an account?</p>
      <a routerLink="/register">Register now</a>
    </div>
  </form>
</div>
