<!-- <ng-template appRef></ng-template> -->
<div class="productpart" *ngIf="isFocused">
    <div class="productpart__header">
        <input [(ngModel)]="searchInput"  (ngModelChange)="searchProducts()"  class="productpart__search" type="text">
    </div>
    <div class="productpart__products">
        <ul class="productpart__list">
            <li *ngFor="let product of products">
                <ul class="productpart__product">
                    <li>{{product.name}}</li>
                    <li>Calories: {{product.calories}}</li>
                    <li>{{showProductUnit(product.unit)}}: {{setAmount(product.unit)}} </li>
                    <li><button (click)="showAmountDialog(product)">add</button></li>
                    <ng-template #amount></ng-template>
                </ul>
            </li>
        </ul>
    </div>
</div>