.grid-container {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "header header header header header"
                         ". . . . ."
                         "menu . content . prompt"
                         ". . . . ."
                         "footer footer footer footer footer";
  grid-template-columns: 1fr 5px 6fr 5px 1fr;
  grid-template-rows: minmax(54px, auto) 5px 2fr 5px minmax(80px, auto);
}

.header { grid-area: header;}
.menu { grid-area: menu;}
.prompt { grid-area: prompt;}
.content { grid-area: content;}
.footer { grid-area: footer;}



