p, a {
  margin: 0;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  border-top: #64D36F 1px solid;
  justify-content: center;
  height: 99%;
}

.footer__content {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
