<footer class="footer">
    <p class="footer__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut hic dolores iusto nam sint unde
        labore.
        Asperiores provident repudiandae ullam aperiam necessitatibus ipsa architecto deserunt dignissimos?
        Molestias exercitationem autem aut!</p>
    <a class="footer__content" href="https://github.com/ZaytsevGleb/WeightControl">Project Link</a>
    <p class="footer__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime praesentium aut
        consectetur assumenda?
        Adipisci reiciendis atque veritatis ipsa laudantium illo, illum in? Animi itaque nam repellat dolorem,
        ducimus ipsa nostrum!</p>
</footer>