<div class="register__page">
  <div class="register__window">
    <div class="register__header">
      <h2>
        Register
      </h2>
    </div>
    <div class="register__body">
      <div class="body__inputs">
        <wc-input-name
          [nameFormControl]="nameFormControl"
          [value]="nameValue"
          [placeholder]="namePlaceholder"
          [validError]="nameValidError"
          color="primary"
          appearance="legacy">
        </wc-input-name>

        <wc-input-email
          [emailFormControl]="emailFormControl"
          [value]="emailValue"
          [placeholder]="emailPlaceholder"
          [validError]="emailValidError"
          color="primary"
          appearance="legacy">
        </wc-input-email>

        <wc-input-password
          [passwordFormControl]="passwordFormControl"
          appearance="legacy"
          color="primary"
          [validError]="passwordValidError"
          [value]="passwordValue">
        </wc-input-password>
      </div>
      <div class="body__buttons">
        <wc-button-raised
          [disabled]="form.invalid && form.touched"
          [label]="registerButtonText"
          color="primary"
          (buttonClick)="registerClick()">
        </wc-button-raised>
      </div>
    </div>
    <div class="register__footer">
      <p>Do you have an account?</p>
      <a routerLink="/login">Login now</a>
    </div>
  </div>
</div>
