.menu{
    overflow: auto;
    grid-area: menu;
    display: grid;
    border: #64D36F 1px solid;
    height: 100%;
}
.menu__list{
    margin: 9px 9px 0px 9px;
    padding: 0;
}
.menu__link{
    display: grid;
    background-color: #D9D9D9;
    border: #64D36F 1px solid;
    margin: 0px 0px 5px 0px;
    padding: 9px 14px;
}




