<form class="form-email">
  <mat-form-field class="full-width-email" hideRequiredMarker [appearance]="appearance" [color]="color">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           [placeholder]="placeholder" [value]="value">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      {{validError}}
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
