<form class="form-password">
<mat-form-field class="full-width-password" hideRequiredMarker appearance="fill" [color]="color" [appearance]="appearance">
  <mat-label>Password</mat-label>
  <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" [value]="value">
  <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
    {{validError}}
  </mat-error>
  <mat-error *ngIf="passwordFormControl.hasError('required')">
    Password is <strong>required</strong>
  </mat-error>
</mat-form-field>
</form>
