<div class="prompt">
    <ul class="prompt__list">
        <li class="prompt__info">
            <div class="prompt__image">
                <img width="80" height="80" src="https://itproger.com/img/courses/1476977584.jpg" alt="picture">
            </div>
            <div class="prompt__text">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum harum dolor nemo deleniti magnam
                    iusto mollitia a? Debitis, inventore!</p>
            </div>
        </li>
        <li class="prompt__info">
            <div class="prompt__image">
                <img width="80" height="80" src="https://itproger.com/img/courses/1476977584.jpg" alt="picture">
            </div>
            <div class="prompt__text">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum harum dolor nemo deleniti magnam
                    iusto mollitia a? Debitis, inventore!</p>
            </div>
        </li>
        <li class="prompt__info">
            <div class="prompt__image">
                <img width="80" height="80" src="https://itproger.com/img/courses/1476977584.jpg" alt="picture">
            </div>
            <div class="prompt__text">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum harum dolor nemo deleniti magnam
                    iusto mollitia a? Debitis, inventore!</p>
            </div>
        </li>

    </ul>
</div>