<form class="form-name">
  <mat-form-field class="full-width-name" hideRequiredMarker appearance="fill" [color]="color"
                  [appearance]="appearance">
    <mat-label>Name</mat-label>
    <input type="text" matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher" [value]="value"
           [placeholder]="placeholder">
    <mat-error *ngIf="nameFormControl.hasError('minlength') && !nameFormControl.hasError('required')">
      {{validError}}
    </mat-error>
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
